/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --my-type-of-brown: rgb(106, 21, 21);
    --my-kind-of-gold: rgba(140, 119, 2, 0.79);
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /* font-size: 10px; */
  font-size: 62.5%;
}

body{
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--light-color-alt);
  background-color: var(--primary-background-color);
  letter-spacing: 1px;
  transition: background-color .25s, color .25s;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  display: block;
}

ul{
  list-style: none;
}

input,
button{
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

i{
  font-size: var(--font-size-md);
}

/* Theme color change */
body.light-theme{
  --light-color: #3d3d3d;
  --light-color-alt: rgba(0,0,0,.6);
  --primary-background-color: #fff;
  --secondary-background-color: #f1f1f1;
  --hover-light-color: #fff;
  --transparent-light-color: #252830;
  --transparent-dark-color: rgba(0,0,0,.1);
}

/* Reusable classes */
.container{
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-item-center{
  display:inline-flex;
  align-items: center;
  justify-content: center;
}

.screen-sm-hidden{
  display: none;
}

.d-grid{
  display: grid;
}

.section{
  padding-block: 7rem;
}



/* Header */

.header{
  background-color: var(--secondary-background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.logo{
  font-size: var(--font-size-md);
  color: var(--light-color);
}

.menu{
  position: absolute;
  top: 8.5rem;
  right: 1.5rem;
  width: 23rem;
  padding: 1.5rem;
  background-color: var(--secondary-background-color);
  opacity: 0;
  transform: scale(0); 
  /* makes it un clickable not just invisible */
  transition: opacity .25s ease-in;
}

.list{
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.menu > .list{
  flex-direction: column;
}

.list-link.current-link{
  color: var(--light-color);
}

.close-menu-icon{
  display: none;
}

.btn{
  cursor: pointer;
}

.list-link:hover,
.btn:hover,
.btn:hover span {
  color: var(--light-color);
}

.moon-icon{
  display: none;
}

.light-theme.sun-icon{
  display: none;
}

.light-theme.moon-icon{
  display: block;
}


/* Header JavaScript Styles */

.header.activated{
  box-shadow: 0 1px .5rem var(--transparent-light-color);
  background-color: rgb(53, 22, 22);
  
}

.menu.activated {
  box-shadow: 1px 1px 1rem var(--transparent-light-color);
  opacity: 0.95;
  transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon{
  display: none;
}

.menu-toggle-icon.activated .close-menu-icon {
  display: block;
}

::-webkit-scrollbar-thumb.activated{
  background: var(--secondary-background-color);
}


/* Search */

.search-form-container{
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: var(--primary-background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s; /* ease */ 
}

.form-container-inner{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.form{
  display: flex;
  justify-content: center;
  border: 2px solid var(--secondary-background-color);
}


.from-input,
.form-button{
  display: inline-block;
  border: 2px solid var(--secondary-background-color);
  padding: 1.3rem;
}

.from-input{
  border-right: none;
  width: 100%;
}

/* trying to align the placeholder text 
.placeholder{
  justify-self: center;
  align-self: baseline;
  text-align: center;
  text-decoration: solid;
  text-decoration-color: brown;
}*/

.form-button{
  margin-left: -0.5rem;
  border-left: none;
  background-color: var(--secondary-background-color);
  width: 8rem;
}

.form-note{
  font-size: var(--font-size-xsm);
  align-self: flex-end;
}

.form-close-button{
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 2px solid var(--secondary-background-color);
  width: 3rem;
  height: 2.8rem;
  /*background-color: var(--my-type-of-brown);*/ 
}


/* Form JavaScript styles */

.search-form-container.activated{
  opacity: 0.95;
  transform: scale(1);
}


/* Featured articles */

.featured-spare{
  padding-block: 2rem;
}

.section-header-offset{
  margin-top: 1.5rem;
}

.featured-spare-container,
.featured-content{
  gap: var(--gap);
}

.headline-banner{
  background-color: var(--secondary-background-color);
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: var(--font-size-xsm);
}

.headline{
  background-color: #000;
  color: var(--light-color);
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 0.5rem;
  height: 100%;
}

.headline span{
  height: inherit;
}

.fancy-border{
  position: relative;
  overflow: hidden;
}

.fancy-border::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: var(--gradient-color);
  background-size: 50% 500%;
  z-index: 5;
}

.fancy-border span{
  position: relative;
  z-index: 10;
  display: inline-flex;
  background-color: var(--secondary-background-color);
  padding: 0.6rem 1.5rem;
}

.spare{
  position: relative;
  min-height: var(--item-min-height-md);
}

.featured-spare-1{
  margin-top: -1.5rem;
}

.spare-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s;
}

.spare-car {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: var(--primary-background-color);
  color: var(--light-color);
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.99;
}

.spare-data-container {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2rem;
  padding: 2rem 1.5rem;
  background-color: var(--transparent-dark-color);
  z-index: 10;
  transition: background-color .5s;
}

.spare-data {
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: var(--font-size-xsm);
  margin-bottom: 1.5rem;
}

.spare-data-spacer {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--light-color-alt);
  transform: rotate(45deg);
}


.title{
  color: var(--light-color);
}

.spare-name{
  font-size: var(--font-size-md);
}

/* Light theme color hover styles */

.spare:hover .spare-data-container{
  background-color: var(--hover-dark-color);
  color: var(--hover-light-color);
  opacity: 0.95;
}

.spare:hover .spare-data-spacer{
  background-color: var(--hover-light-color);
}

.spare:hover .spare-name{
  color: var(--hover-light-color);
}



/* Featured articles - Sidebar */

.sidebar{
  background-color: var(--secondary-background-color);
  padding: 2.5rem;
}

.trending-parts-box{
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-block: 2rem;
  border: 1px solid --transparent-light-color;
}

.trending-parts-box:last-of-type{
  border-bottom: none;
}

.trending-spare-image-box{
  position: relative;
  width: 100%;
  height: var(--item-min-height-sm);
}

.featured-content-title{
  font-size: var(--font-size-md);
  text-align: center;
  padding: 1rem;
}

.trending-number{
  position: absolute;
  top: -1rem;
  left: -1rem;
  padding: 0.6rem; /* additional padding for alignment */
  z-index: 15;
  width: 3rem;
  height: 3rem;
  background-color: var(--secondary-background-color);
  color: var(--light-color-alt);
  border-radius: 50%;
  text-align: center;
}

.trending-spare-data-box .spare-name{
  font-size: var(--font-size-sm);
}

.trending-spare-data-box:hover .spare-name{
  color: var(--light-color-alt);
}

.trending-parts-box:hover .trending-number{
  color: var(--hover-light-color);
}


/* Quick read */


.section-title{
  position: relative;
  font-size: var(--font-size-md);
  margin-bottom: 6rem;  
}

/* adding a bottom padding to the spare-name inside the quick-read-data-container */
.quick-read-data-container .spare-name{
  padding-bottom: 1rem;
}

.section-title::before{
  content: attr(data-name);
  font-size: var(--font-size-md);
  text-transform: uppercase;
  opacity: .1;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.spare.swiper-slide{
  height: 40rem;
}

/* Quick read - Swiper */

.swiper-wrapper{
  height: auto;
}

.swiper-controls{
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--secondary-background-color);
}

.swiper-controls::after{
  font-size: 1.5rem;
  color: var(--light-color);
}

/* after the initiation of swiper through js */
.swiper-pagination{
  bottom: .5rem !important;
}
.swiper-pagination-bullet{
  background-color: var(--light-color);
}



/* Coming Soon */


.upcoming-grid-wrapper{
  gap: var(--gap);
}

.upcoming-part-image-wrapper,
.upcoming .spare{
  min-height: var(--item-min-height-sm);
}

.upcoming .spare{
  background-color: var(--secondary-background-color);
}

.upcoming-part-image-wrapper{
  position: relative;
}

.upcoming-grid-wrapper .spare-data-container{
  position: static;
  background-color: transparent; /* right color? */
}

.upcoming-grid-wrapper .spare-name{
  margin-bottom: var(--margin-sm);
}

.see-more-container{
  margin-top: var(--margin-md);

}

.see-more-btn{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.see-more-btn i{
  transition: transform .25s;
}

.see-more-btn:hover i{
  transform: translateX(.8rem);
}



/* Popular - parts */


.pop-part-container{
  gap: var(--gap);
}

.pop-part-container .spare{
  min-height: var(--item-min-height-sm);
}

.pop-part-name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--transparent-dark-color);
  padding: 1rem 2rem;
  text-align: center;
  z-index: 10;
}

.pop-part-container .spare:hover .pop-part-name{
  color: var(--light-color);
}

.pop-part-container .spare:hover .spare-image{
  transform: scale(1.035);
}



/* Newsletter */


.newsletter-section{
  padding-bottom: 6rem;
}

.newsletter-title{
  font-size: var(--font-size-lg);
}

.newsletter-description{
  margin-bottom: 3rem;
}

/* additional styles for the newsletter form */
.newsletter-form input{
  padding-left: 2rem;
  padding-right: 2rem;
}
.newsletter-form{
  width: fit-content;
  align-self: center;
}




/* Footer */

.footer{
  background-color: var(--secondary-background-color); /* secondary background color */
}

.footer-container{
  gap: var(--gap);
}

.company-data-container{
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  gap: 0rem;
  order: 1 /* makes it the second ordered element in the parent container */
}

.company-description{
  margin-block: var(--margin-sm);
  max-width: 75%;
  text-align: justify;
}

.social-media{
  margin-bottom: var(--margin-md);
}

.copyright-notice{
  opacity: 0.8;
}

.footer-list{
  flex-direction: column;
  align-items: flex-start;
}

.footer-title{
  font-size: var(--font-size-md);
  text-transform: uppercase;
  margin-bottom: var(--margin-sm);
}



/* Scrollbar styles */


body.activated{
  overflow: scroll;
  scrollbar-width: 10rem;
  scrollbar-color: black;
  scrollbar-track-color: pink;
}

/* ::-webkit-scrollbar{
  width: 10rem;

} */



/* .example::-webkit-scrollbar{
  width: 1.1rem;
}

::-webkit-scrollbar-track{
  background: #c3c3c3;
}

::-webkit-scrollbar-thumb{
  background: #45011f;
}

::-webkit-scrollbar-thumb:hover{
  background: #2e303b;
} */



/* Part post */

.part-post{
  padding-bottom: 5rem;
}

.part-post-data{
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.part-post-title{
  font-size: clamp(3rem, 5vw, 6rem);
}

.part-post .spare-data{
  margin: 2.5rem;
}

.part-post img{
  width: 100%;
  height: var(--item-min-height-sm);
  object-fit: cover;
  object-position: 10% center;
}

.part-post-container .container{
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  padding: 0;
  gap: var(--gap);
}

.quote{
  background-color: var(--secondary-background-color);
  padding: 2.5rem;
}

.quote p{
  font-style: italic;
}

.quote span{
  font-size: rem;
}

.vendor{
  margin-top: 3rem;
  background-color: var(--secondary-background-color);
  gap: var(--gap);
}

.vendor-image-box{
  position: relative;
  height: var(--item-min-height-sm);
}

.vendor-info{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.vendor-name{
  color: var(--light-color);
  font-weight: 400;
}

.vendor-info p{
  max-width: 40rem;
  margin-bottom: 1rem;
}

.vendor-info .social-media{
  margin-top: auto;
  margin-bottom: 0;
}




/* Media queries -- making it responsive    */


@media screen and (min-width: 700px){
  
  .trending-parts-box{
    flex-direction: row;
    align-items: center;
  }

  .trending-spare-image-box{
    width: 50%;
  }

  .trending-spare-data-box{
    margin: auto;
    text-align: center;
  }

  .pop-part-container,
  .footer-container{
    grid-template-columns: repeat(2, 1fr);
  }

  .newsletter-description{
    max-width: 40rem;
  }

  .form-container-inner{
    align-items: center;
  }

  .company-data-container{
    order: 0;
  }

  .vendor{
    grid-template-columns: 25rem 1fr;
  }

}


/* second break point at 768px width */

@media screen and (min-width: 768px){

  .featured-content{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem repeat(4, 1fr);
  }

  .headline-banner{
    grid-column: 1/-1;
    font-size: var(--font-size-sm);
  }

  /* kinda like setting it's size for this particular condition */
  .featured-spare{
    grid-column: 3/-1;
    grid-row: 2/4;
  }

  .featured-spare-1{
    grid-column: 1/3;
  }

  .featured-spare-3{
    grid-column: 1/-1;
    grid-row: 4/6;
  }

  .upcoming .spare{
    grid-template-columns: 25rem 1fr;
  }

  .upcoming-part-image-wrapper{
    height: auto;
  }

  .part-post-data img{
    height: var(--item-min-height-md);
  }

}



@media screen and (min-width: 1024px){
  
  .menu{
    position: initial;
    width: initial;
    padding: initial;
    background-color: transparent;
    opacity: initial;
    transform: initial;
  }

  .menu > .list{
    flex-direction: row;
  }

  .screen-lg-hidden{
    display: none;
  }

  .screen-sm-hidden{
    display: block;
  }

  .list-item{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sign-up-btn{
    padding: .3rem;
  }

  /* creating a keyframe animation for the fancy border of the signup button */
  @keyframes animate_register {
    to{
      transform: translateX(-50%);
    }
  }

  .fancy-border:hover::before {
    animation: animate_register .5s linear infinite;
  }

  .featured-spares-container{
    grid-template-columns: 1fr 40rem;
  }

  /* make the sidebar equal with the featured content height  */

  .trending-spare-image-box{
    width: 10rem;
    height: 10rem;
  }

  .pop-part-container{
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-container {
    grid-template-columns: repeat(5, 1fr);
  }

  .company-data-container{
    grid-column: span 2;
  }

  .company-description{
    max-width: 85%;
  }

  .copyright-notice{
    margin-top: auto;
  }

  .part-post-data img{
    height: 40rem;
  }
  
}



/* fourth breakpoint at width 1200px */

@media screen and (min-width: 1200px){

  .upcoming-part-image-wrapper{
    grid-template-columns: repeat(2, 1fr)
  }

}


/* this is the fifth breakpoint at width 1500px */

@media screen and (min-width: 1500px){

  .featured-spare{
    grid-column: 3/-1;
  }

  .featured-spare-1{
    grid-column: 1/3;
    grid-row: 2/-1;
  }

}

  





